
@model ChildFund.Features.CatalogContent.Category.DefaultCategory

<article>
    <header>
        <h1>@(string.IsNullOrWhiteSpace(Model.DisplayName) ? Model.Name : Model.DisplayName)</h1>
    </header>

    
</article>