@model ChildFund.Web.Features.CatalogContent.Category.DefaultCategoryViewModel

<article>
    <header>
        <h1>@(string.IsNullOrWhiteSpace(Model.CurrentContent.DisplayName) ? Model.CurrentContent.Name : Model.CurrentContent.DisplayName)</h1>
    </header>

    
</article>